<section>
    <h2><span>🔧</span> {{ translations.how_it_works.title | safe }}</h2>
    <p>{{ translations.how_it_works.p1 | safe }}</p>
    <br>
    <p>{{ translations.how_it_works.p2 | safe }}</p>
    <br>
    <p>{{ translations.how_it_works.p3 | safe }}</p>
    <ul>
        <li><strong>IPv4:</strong> {{ translations.how_it_works.ipv4 | safe }}</li>
        <li><strong>IPv6:</strong> {{ translations.how_it_works.ipv6 | safe }}</li>
        <li><strong>HTTPS:</strong> {{ translations.how_it_works.https | safe }}</li>
        <li><strong>WebSocket:</strong> {{ translations.how_it_works.ws | safe }}</li>
    </ul>
</section>