<section>
    <h2><span>🌍</span> {{ translations.why.title | safe }}</h2>
    <ul>
        <li>{{ translations.why.point1 | safe }}</li>
        <li>{{ translations.why.point2 | safe }}</li>
        <li>{{ translations.why.point3 | safe }}</li>
        <li>{{ translations.why.point4 | safe }}</li>
        <li>{{ translations.why.point5 | safe }}</li>
        <li>{{ translations.why.point6 | safe }}</li>
    </ul>
</section>
